body {
  font-family: 'Khand', sans-serif;
  font-weight: 400;
  font-size: 18px;
}
h1, h4, .footer {
  font-weight: 600;
  font-family: 'Khand', sans-serif;
}
h4 {
  font-size: 32px;
}
h6 {
  font-size: 20px;
}
.list-group-item {
  border: none;
  font-family: 'Khand', sans-serif;
  font-weight: 300;
  font-size: 18px;
}
.general-icon {
  margin-left: 20px;
  margin-top: 3px;
  margin-right: 3px;
  margin-bottom: 10px;
  width: 50px;
  height: auto
}
.status {
  padding: 20px 0 20px 0;
  background-image: url("./img/header_img/header_img.png");
  background-color: #f4f4f4;
}
.status-icon {
  margin-right: 4px;
  width: 14px;
  height: auto;
}
.status-bar {
  margin-top: 20px;
  margin-bottom: 20px;
}
.status-bar li {
  background-color: rgba(255,255,255,0.2);
}
.company-title {
  margin-left: 10px
}
.name {
  margin-top: 30px;
  font-size: 88px;
  font-family: 'Khand', sans-serif;
}
.profile-img {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 150px;
  height: auto;
}
small {
  color: #888;
}
.resume-body {
  margin-top: 60px;
}
.resume-body-title {
  margin-top: 50px;
  margin-bottom: 6px;
}
.footer-icon {
  margin-top: 10px;
  height: 60px;
}
.footer {
  margin-top: 60px;
  height: 80px;
  background-image: url("./img/footer_img/footer_img.png");
}
#demo-video {
  max-width: 480px;
  min-height: 320px;
}
.card-title {
  margin-top: 3px;
  font-weight: 600;
}
.card-text {
  font-family: 'Roboto', serif;
  font-weight: 300;
}
.card li {
  font-family: 'Roboto', serif;
  font-weight: 300;
  font-size: 16px;
}
.project-title {
  margin-top: 3px;
  font-weight: 600;
  font-size: 22px;
}